/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-header{
  border: transparent;
}

.log-contenitore{
  padding: 55px;
}

.log-in{
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 25px;
  margin-top: 15px;
}

button{
  border-color: transparent;
  background-color: transparent;
}

a.login-button{
  color: #373F41;
}

.modal-body h5{
  color: #373F41;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#insegnanti {
  width: 100%;
  height: 100vh;
  background: url("../img/attoresingolo/attoresingolo-hero.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}

#insegnanti:before {
  content: "";
  background: transparent;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#insegnanti h1, p, h5{
  color: #ffffff;
}

.scopri-piu{
  color: #58595B;
}

.contatti-social{
  font-size: 25px;
}

.social-links{
  margin-top: 15px;
}

.btn-get-started {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 40px;
  transition: 0.5s;
  color: #fff;
  background: #10BDC5;
  border: 2px solid #10BDC5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-get-started:hover {
  background: transparent;
  border-color: #fff;
  color:#ffffff;
}

@media (max-width: 375px) {
  #hero {
    text-align: center;
    padding-top: 58px;
    padding: 10px;
  }

  #hero:before {
    content: "";
    background:rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 45px;
    margin-top: 80px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}


/*--------------------------------------------------------------
# Attività proposte
--------------------------------------------------------------*/
.proposte{
  width: 100%;
  background: url("../img/attoresingolo/decorazioni.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}

.proposte h2{
  text-align: center;
  color: #58595B;
  font-weight: bolder;
}

.attività-proposte{
  margin-top: 40px;
  padding: 20px;
}

.box-attivita{
  background-color: #ffffff;
  box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
  padding: 50px;
  border-radius: 25px;
}

.box-attivita h4{
  color: #FF912A;
  margin-bottom: 30px;
}

.box-attivita p{
  color: #737B7D;
}

.img-1{
  background: url("../img/attoresingolo/relazioni.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}

.img-2{
  background: url("../img/attoresingolo/robinhood.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}

.img-3{
  background: url("../img/attoresingolo/bosco.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0;
}

.germano-btn-1 {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 40px;
  transition: 0.5s;
  color: #fff;
  background: #10BDC5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.germano-btn-1:hover {
  background: #0A949A;
  color:#ffffff;
}