
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/profiloinsegnante/hero-profilo-insegnante.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero p{
  color: #ffffff;
}

#hero h1{
  color: #ffffff;
}

@media (max-width: 375px) {
  #hero {
    text-align: center;
    padding-top: 58px;
    padding: 10px;
  }

  #hero:before {
    content: "";
    background:rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 45px;
    margin-top: 80px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}



/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.dashboard{
  width: 100%;
  height: 100%;
  background: url("../img/profiloinsegnante/dashboard-sfondo.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 82px;
}

.sidenav {
  height: 500px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #58595B;
  overflow-x: hidden;
  padding-top: 50px;
  border-radius: 15px;
}

.sidenav a {
  padding: 10px 10px 10px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  background-color: #7C7C7C;
  color: #ffffff;
}

.main {
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sviluppo{
  padding: 0;
}