
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/workshopsingolo/workshop-singolo.jpg") top center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

@media (max-width: 375px) {
  #hero {
    text-align: center;
    padding-top: 58px;
    padding: 10px;
  }

  #hero:before {
    content: "";
    background:rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 45px;
    margin-top: 80px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}



/*--------------------------------------------------------------
# Workshop singolo generale
--------------------------------------------------------------*/
.contenuto{
  width: 100%;
  background: url("../img/workshopsingolo/animali-bosco.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

.contenuto h2{
  text-align: center;
  color: #58595B;
  font-weight: bolder;
}



/*--------------------------------------------------------------
# Box workshop singolo
--------------------------------------------------------------*/
.portfolio-item{
  margin-top: 35px;
  box-shadow: none;
}

.portfolio-item h4{
  margin-top: 20px;
}

.portfolio-item p{
  color: #737B7D;
}

.pacchetti-img{
  width: 100%;
}

.pacchetto-info{
  padding: 10px;
}

.pacchetti-img{
  padding-top: 0;
}